<img src="https://www-fourier.univ-grenoble-alpes.fr/~L3maths/logo_UFR_IM2AG.jpg">

<div class ="center">

  <h4><b>UFR IM²AG - Relations Entreprises et Stages 60 rue de la Chimie – UGA – CS 40700 – 38058 Grenoble cedex 9 <br>
    Tel . 04 76 63 57-25</b></h4> <br>
  <h1><b>FICHE DE RENSEIGNEMENTS DE STAGE - 2021/2022</b></h1><br><br>
  <b><i>ATTENTION!</i></b><br>
<i>Cette fiche de renseignements <b><u>ne tient pas lieu de convention</u></b></i><br><br>
<b>Ces informations sont nécessaires pour l’établissement et la gestion de votre convention de stage.</b><br>
<b>Cette fiche doit être </b><font color="red"><b>envoyée par mail à <i><u>Laurence.Pierre@univ-grenoble-alpes.fr</u></i></b></font><br>
<b>pour validation <font color="red"><u>avant</u> saisie de la convention</font> dans Pstage.</b> <br><br>
</div>










