<app-login></app-login>

<div class="center">
  <b>NUMERO D'ETUDIANT</b><br><br><input>
<button> submit </button><br><br>
</div>


<mat-toolbar>
    <h2  style="position: relative;left: 50%; transform: translateX(-50%);"> COORDONNEES DE L'ETUDIANT </h2>
</mat-toolbar><br>

<form class ="label">
  <div style="display: flex; justify-content: space-evenly;">
    <div>
      <mat-form-field appearance="outline">
        <mat-label><b>Nom :</b></mat-label>
        <input matInput name='Nom' required>
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field><br><br>

      <mat-form-field appearance="outline">
        <mat-label><b>Prénom :</b></mat-label>
        <input matInput name='Prénom' type="text" required>
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field><br><br>

      <mat-form-field appearance="outline">
        <mat-label><b>N° étudiant : </b></mat-label>
        <input name='N° étudiant' type="text" matInput required>
      </mat-form-field><br><br>

      <mat-form-field appearance="outline">
        <mat-label><b>N° de portable :</b></mat-label>
        <input name='N° de portable' placeholder="+33 7 01 01 01 01" type="text" matInput required>
        <mat-icon matSuffix>call</mat-icon>
        <!--mat-error *ngIf="numPortable.invalid">Numero de Portable invalide</-mat-error-->
      </mat-form-field><br><br>
      <div>
        <mat-form-field appearance="outline">
          <mat-label><b>Inscrit en :</b></mat-label>
          <input name='Inscrit en' placeholder="L3 MIAGE" type="text" matInput required>
          <mat-icon matSuffix>class</mat-icon>
          <mat-hint>Préciser la filière d'études</mat-hint>
        </mat-form-field><br><br>
      </div>
    </div>

    <div>
      <mat-form-field class="label-full-width" appearance="outline">
        <mat-label><b>Mail :</b></mat-label>
        <input name='Mail' placeholder="Ex. ...@etu.univ-grenoble-alpes.fr" type="text" matInput required>
        <mat-icon matSuffix>mail</mat-icon>
      </mat-form-field><br><br>

      <mat-form-field class="label-full-width" appearance="outline">
        <mat-label><b>Adresse :</b></mat-label>
        <textarea matInput placeholder="Ex. 435 allée des chênes verts - 38388 Labelleville" required></textarea>
        <mat-icon matSuffix>place</mat-icon>
      </mat-form-field><br><br>

      <mat-form-field appearance="fill">
        <mat-label><b>Type d'affiliation</b></mat-label>
        <select matNativeControl required>
          <option value="ayant droit">ayant droit</option>
          <option value="étudiant">étudiant</option>
          <option value="assuré volontaire">assuré volontaire</option>
          <option value="étudiant étranger">étudiant étranger</option>
        </select>
      </mat-form-field><br><br>

      <mat-form-field appearance="fill">
        <mat-label><b>Caisse d’assurance maladie:</b></mat-label>
        <select matNativeControl required>
          <option value="CPAM">CPAM</option>
          <option value="MSA">MSA</option>
          <option value="Travailleur indépendant">Travailleur indépendant</option>
          <option value="régimes spéciaux">régimes spéciaux</option>
        </select>
      </mat-form-field><br><br>
      <div>
        <mat-form-field appearance="outline">
          <mat-label><b>Enseignant référent :</b></mat-label>
          <input name=Enseignant placeholder="L.Pierre" type="text" matInput required>
          <mat-icon matSuffix>person</mat-icon>
          <mat-hint>Pour l’encadrement du stage pour votre année d’étude (validera cette fiche)</mat-hint>
        </mat-form-field><br><br>
      </div>
    </div>
  </div>

</form>


<br><br>

<mat-toolbar>
  <h2  style="position: relative;left: 50%; transform: translateX(-50%);">  COORDONNEES ETABLISSEMENT D’ACCUEIL DU STAGIAIRE </h2>
</mat-toolbar><br><br>

<form class ="label">
  <div style="display: flex; justify-content: space-evenly;">
    <div>
      <mat-form-field appearance="outline">
        <mat-label><b>Raison Sociale: </b></mat-label>
        <input name='Raison Sociale' type="text" matInput required>
      </mat-form-field><br><br>

      <mat-form-field appearance="outline">
        <mat-label><b>Représentant légal: </b></mat-label>
          <input name='Représentant légal' type="text" matInput required>
          <mat-icon matSuffix>person</mat-icon>
      </mat-form-field><br><br>

      <mat-form-field appearance="outline">
        <mat-label><b>Fonction : </b></mat-label>
          <input name='Fonction' type="text" matInput required>
          <mat-icon matSuffix>assignment</mat-icon>
      </mat-form-field><br><br>

      <mat-form-field appearance="outline">
        <mat-label><b>N° de SIRET :</b></mat-label>
          <input name='N° de SIRET :' type="text" matInput required>
      </mat-form-field><br><br>

      <mat-form-field appearance="outline">
        <mat-label><b>Code APE :</b></mat-label>
          <input name='Code APE' type="text" matInput required>
      </mat-form-field><br><br>

      <mat-form-field appearance="outline">
        <mat-label><b>Domaine d'activité :</b></mat-label>
          <input name='Domaine' type="text" matInput required>
          <mat-icon matSuffix>domain</mat-icon>
      </mat-form-field><br><br>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label><b>Effectif :</b></mat-label>
          <input name='Effectif' type="text" matInput required>
      </mat-form-field><br><br>

      <mat-form-field class="label-full-width" appearance="outline">
        <mat-label><b>Adresse :</b></mat-label>
          <textarea placeholder="Ex. 435 allée des chênes verts" name='Adresse' type="text" matInput required></textarea>
          <mat-icon matSuffix>place</mat-icon>
      </mat-form-field><br><br>

      <mat-form-field appearance="outline">
        <mat-label><b>Code postal :</b></mat-label>
          <input name='Code Postal' type="text" matInput required>
      </mat-form-field><br><br>

      <mat-form-field appearance="outline">
        <mat-label><b>Ville :</b></mat-label>
        <input name='Ville' type="text" matInput required>
        <mat-icon matSuffix>place</mat-icon>
      </mat-form-field><br><br>

      <mat-form-field appearance="outline">
        <mat-label><b>Pays :</b></mat-label>
          <input name='Pays' type="text" matInput required>
          <mat-icon matSuffix>flag</mat-icon>
      </mat-form-field><br><br>

      <mat-form-field class="label-full-width" appearance="outline">
        <mat-label><b>Service d’accueil du stagiaire :</b></mat-label>
        <textarea matInput placeholder="Ex. 435 allée des chênes verts - 38388 Labelleville" name='Service' type="text" matInput required></textarea>
        <mat-icon matSuffix>place</mat-icon>
        <mat-hint>Préciser l’adresse si différente de l’organisme</mat-hint>
      </mat-form-field><br><br>
    </div>
  </div>
</form>

<br><br>

<mat-toolbar>
  <h3  style="position: relative;left: 50%; transform: translateX(-50%);"> SERVICE ASSURANT LA GESTION DES STAGIAIRES (RH)</h3>
</mat-toolbar><br><br>

<form class ="label">

  <div style="display: flex; justify-content: space-evenly;">
    <div>
      <mat-form-field appearance="outline">
        <mat-label><b>Nom :</b></mat-label>
          <input name='Nom' type="text" matInput required>
          <mat-icon matSuffix>person</mat-icon>
      </mat-form-field><br><br>

      <mat-form-field appearance="outline">
        <mat-label><b>Tél :</b></mat-label>
          <input name='Tél' type="text" matInput required>
          <mat-icon matSuffix>call</mat-icon>
      </mat-form-field><br><br>

      <mat-form-field class="label-full-width" appearance="outline">
        <mat-label><b>Mail :</b></mat-label>
        <input name='Mail' placeholder="Ex. ...@etu.univ-grenoble-alpes.fr" type="text" matInput required>
        <mat-icon matSuffix>mail</mat-icon>
      </mat-form-field><br><br>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label><b>Prénom :</b></mat-label>
        <input name='Prénom' type="text" matInput required>
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field><br><br>

      <mat-form-field class="label-full-width" appearance="outline">
        <mat-label><b>Adresse :</b></mat-label>
        <textarea name='Adresse' placeholder="Ex.  435 allée des chênes verts - 38388 Labelleville " type="text" matInput required></textarea>
        <mat-icon matSuffix>place</mat-icon>
      </mat-form-field><br><br>
    </div>
  </div>
</form>

<br><br>

<mat-toolbar>
  <h2  style="position: relative;left: 50%; transform: translateX(-50%);">  TUTEUR TUTEUR PROFESSIONNEL DU STAGIAIRE </h2>
</mat-toolbar><br><br>

<form class ="label">

  <div style="display: flex; justify-content: space-evenly;">

    <div>
      <mat-form-field appearance="outline">
        <mat-label><b>Nom :</b></mat-label>
          <input name='Nom' type="text" matInput required>
          <mat-icon matSuffix>person</mat-icon>
      </mat-form-field><br><br>

      <mat-form-field appearance="outline">
        <mat-label><b>Tél :</b></mat-label>
          <input name='Tél' type="text" matInput required>
          <mat-icon matSuffix>call</mat-icon>

      </mat-form-field><br><br>
      <mat-form-field appearance="outline">
        <mat-label><b>Fonction : </b></mat-label>
          <input name='Fonction' type="text" matInput required>
          <mat-icon matSuffix>assignment</mat-icon>
      </mat-form-field><br><br>

      <mat-form-field appearance="outline">
        <mat-label><b>Service :</b></mat-label>
        <input name='Service' type="text" matInput required>
        <mat-icon matSuffix></mat-icon>
      </mat-form-field><br><br>

    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label><b>Prénom :</b></mat-label>
        <input name='Prénom' type="text" matInput required>
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field><br><br>

      <mat-form-field class="label-full-width" appearance="outline">
        <mat-label><b>Mail :</b></mat-label>
        <input name='Mail' placeholder="Ex. ...@etu.univ-grenoble-alpes.fr" type="text" matInput required>
        <mat-icon matSuffix>mail</mat-icon>
      </mat-form-field><br><br>

      <mat-form-field class="label-full-width" appearance="outline">
        <mat-label><b>Adresse :</b></mat-label>
        <textarea name='Adresse' placeholder="Ex.  435 allée des chênes verts - 38388 Labelleville " type="text" matInput required></textarea>
        <mat-icon matSuffix>place</mat-icon>
      </mat-form-field><br><br>

      <mat-form-field class="label-full-width" appearance="fill">
        <mat-label><b>Disponibilité du tuteur professionnel de stage : </b></mat-label>
        <select matNativeControl required>
          <option value="importante">importante</option>
          <option value="partielle">partielle</option>
          <option value="inexistante">inexistantet</option>
        </select>
      </mat-form-field><br><br>

    </div>
  </div>
  <br>

  <mat-icon matSuffix>date_range</mat-icon>  <b>DATES DU STAGE</b> :<br><br>

    <p>Période temps partiel : </p> <br>
    <div style="display: flex; justify-content: space-evenly;">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Date de début</mat-label>
        <input name='DateDeb' type="date" matInput required>
      </mat-form-field> <br><br>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Date de fin</mat-label>
        <input name='DateFin' type="date" matInput required>
      </mat-form-field> <br><br>
    </div>
  </div>
  <br>

  <p>Période temps plein (35 h/semaine) :</p> <br>
  <div style="display: flex; justify-content: space-evenly;">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Date de début</mat-label>
        <input name='DateDeb' type="date" matInput required>
      </mat-form-field> <br><br>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Date de fin</mat-label>
        <input name='DateFin' type="date" matInput required>
      </mat-form-field> <br><br>
    </div>
  </div>
  <br>


</form>
<br><br>


Période temps partiel :              Date de début : <input>                 Date de fin :<input><br>
Période temps plein (35 h/semaine) :    Date de début : 25 mai 2021     Date de fin :<input> <br>
En cas d’interruption, merci de préciser les dates : du  <input>       au  <input>  <br><br>
Nombre total d’heures du stage :<input> <br><br>

<b>GRATIFICATIONS</b>(obligatoires pour tout stage, même fractionné, à partir du 45ème jour de présence) :<br><br>
<br><br>

<b>Si oui:</b> <br>
Montant gratification <b>horaire</b> (si montant mensuel, le diviser par 154) : <input> € <br>
Versement de la gratification : - Chèque - Virement bancaire - Espèces <br><br>

Pour les laboratoires de l’UGA, préciser l'organisme de prise en charge:<input><br>
Avantages en nature (restauration, hébergement, remboursement….) :<input><br><br>
<b>Confidentialité du stage :</b><br><br>
<b>TITRE DU STAGE :<input></b><br><br>

Description du projet de l'entreprise dans lequel le stagiaire sera intégré / du produit sur lequel il travaillera :<br><br>
Objectifs du stage dans ce projet :<br><br>
Tâches qui seront confiées au stagiaire pour cette mission :<br><br>
Détail des travaux à réaliser, avec langages et technos qui seront utilisés :<br><br>
<b>Signature de l’enseignant référent du stage : (L.Pierre)</b><br><br>

<b>Signatrure du tuteur professionnel</b><br>




