mat-toolbar {
  text-align: center;
}

.label-full-width{
  width: 400px;
}

.label {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

div.center{
  text-align: center;
}

.bar{
  background-color:rgb(219,45,44);
  color : white;
}

.form{
  background-color: white;
}

div, mat-form-field, mat-hint {
  line-height: normal;
}
